body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  font-family: Shippori Antique, Arial, Helvetica, sans-serif;
  letter-spacing: -0.025em;
  overflow: hidden;
}
